In [8]:
import os
import pandas as pd

In [9]:
df_dir = '/home/drevital/obstacles_classification_datasets/test2'
df_name = 'test2.csv'
df_path = os.path.join(df_dir, df_name)
imname = '327_obstacles_classification_2022-06-27T08-37-14_0.75_unknown_noobs_1.0000_.jpg'

In [10]:
df = pd.read_csv(df_path)

In [11]:
df.head()

,Unnamed: 0,in_name,out_name,class_name,diff_metric,diff_coef,sample_weight
0,0,327_obstacles_classification_2022-06-27T08-37-...,327_obstacles_classification_2022-06-27T08-37-...,no_obstacle,0.000000,1.164597e-11,1.000000
1,1,2_obstacles_classification_2022-06-27T08-37-13...,2_obstacles_classification_2022-06-27T08-37-13...,obstacle,0.026250,1.000000e+00,2.500000
2,2,8_obstacles_classification_2022-06-27T08-37-13...,8_obstacles_classification_2022-06-27T08-37-13...,obstacle,0.281875,3.723130e-01,1.558469
3,3,3_obstacles_classification_2022-06-27T08-37-13...,3_obstacles_classification_2022-06-27T08-37-13...,obstacle,0.284375,2.101636e-01,1.315245
4,4,1_obstacles_classification_2022-06-27T08-37-03...,1_obstacles_classification_2022-06-27T08-37-03...,obstacle,0.268025,9.805208e-01,2.470781

In [12]:
row = df.loc[df['out_name'] == imname]

In [13]:
row

,Unnamed: 0,in_name,out_name,class_name,diff_metric,diff_coef,sample_weight
0,0,327_obstacles_classification_2022-06-27T08-37-...,327_obstacles_classification_2022-06-27T08-37-...,no_obstacle,0.0,1.164597e-11,1.0

In [18]:
row['class_name'][0]

'no_obstacle'

In [19]:
row['sample_weight'][0]

1.000000000017469

In [20]:
type(row['sample_weight'][0])

numpy.float64

In [23]:
row['class_name'].values[0]

'no_obstacle'

In [22]:
row['sample_weight'].values[0]

1.000000000017469